<!DOCTYPE html>

<html>

<head>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Построение пешеходного мультимаршрута</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=1e083c60-3838-4701-bdae-e8629cf7575c"
            type="text/javascript"></script>
    <script>points = JSON.parse('{{ points|safe }}')</script>
    <script>order = JSON.parse('{{ order|safe }}')</script>
    <script>cafe_locations = JSON.parse('{{ cafe_location|safe }}')</script>
    {#    <script>cafe_locations = JSON.parse('{{ cafe_location|safe }}')</script>#}
    {#    <script>#}
    {#        names = JSON.parse('{{ names|safe }}');#}
    {#    </script>#}
    {#    <script>cafes = JSON.parse('{{ cafes|safe }}')</script>#}
    <style>
        html, body {
            width: 100%;
            height: 100%;
            padding: 0;
            margin: 0;
            font-size: 50px;
        }

        #map {
            width: 100%;
            height: 50vh;
        }
    </style>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="https://hackgatchlna.herokuapp.com/">GatTravel</a>
</nav>
<span id="names" hidden>{{ names|safe }}</span>
<span id="cafes" hidden>{{ cafes|safe }}</span>
{#<span id="cafes" hidden>{{ cafes|safe }}</span>#}
<div id="map"></div>

<center id="food-form">
    <label for="food-text">Что хотите перекусить в дороге?</label>
    <input class="form-control mb-2 w-75 mx-auto" type="text" id="food-text">
    <button class="btn btn-primary" id="sendFood">Найти</button>
</center>

<script src="../static/map.js" type="text/javascript"></script>
</body>

</html>